<!-- Footer Text Widget -->
<footer class="template-footer">
    <div class="footer-wrapper">

        {{widget('content', 'footer-content', {
        content: '<p>&copy; Copyright</p>'
        })|raw}}

    </div>
</footer>
